 body{
     margin: 0px;
     background-color: rgb(223, 196, 128);
     font-family: 'Source Sans Pro', sans-serif;
      
 }
 #back-color{
     background-image: url(photo/head-3.jpg);
     background-repeat: no-repeat;
 }
 #head-button{
     text-align: right;
     margin: 20px;

 }
 #div-000{
     margin: 10px;
     padding: 12px 27px;
     background:none ;
     color:gray;
     border-radius: 3px;
     transition: .8s;
 }
 #div-000:hover{
     color: indigo;
     background-color: cadetblue;
 }
 .search-box{
     margin:10px 0px 10px 10px;
     border:1px solid black ;
     width:220px ;
     border-radius: 5px;
 }
  
 #scarch{
    border-radius: 2px;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    background: gray  ;
    font-weight: 600;

   
 }
 
 
 .section-head{
     
     color: white;
     background-image: url(photo/Project\ Cover4.png);
     background-repeat: no-repeat;
     margin: 5px;
     padding: 14px;
    height:300px;
      
 }
 #head-1{
     text-align: center;
     margin-top: 80px;
     font-size: 50px;
 }
 #head-2{
    text-align: center;
     font-size: 20px;
     margin-top:10px;
 }
 #head-01{
     background-color: grey;
     border-radius: 8px;
     text-align: center;
     border: 2px solid gray;
     margin: 30px 40px;
     padding: 25px 15px;
 }

 #button-1{
    margin-top: 10px;
    background:none;
    padding: 10px;
    border: 1px solid blue;
    border-radius:4px ;
    color: cornsilk;
    transition: .8s;
 }
 #button-1:hover{
    color:black;
    background-color: blanchedalmond;
 }

 .card{
     background-color:burlywood ;
     width: 200px;
     border: 1px solid gray;
     padding: 10px;
     box-shadow: 10px 10px 10px gray;
     margin-left: 60px;
     margin-top: 50px;
     border-radius: 8px;
 }
 #image img{
     width: 100%;
     border-radius: 8px;
 }
 
 #display{
 display: flex; 
}
#button-2{
    margin-left: 550px;
    margin-top: 80px;
    margin-bottom: 30px;
    background:none;
   padding: 20px 30px;
   border: 3px solid blue;
   border-radius:4px ;
   color:black;
   transition: .8s;
}
#button-2:hover{
   color:blueviolet;
   background-color:rgb(14, 194, 194);
}
#order{
    background: none;
    color: blueviolet;
    border: 1px solid black;
    border-radius: 2px;
    margin: 2px 1px;
    padding: 2px 3px;
    transition: .8s;

}
#order:hover {
    color: blue;
    background-color:darkgoldenrod;
}
#section-2{
    display: flex;
     
}
#image-middel img{
    width: 700px; 
    height:510px ;
}
#middel{
    background-image: url(photo/backgroun-2.jpg);
    width: 550px;
    border-left: 1px solid white;
    margin-bottom: 04px;

}
#middel-01{
    margin-top:90px;
 text-align: center;
 font-size: 20px;
}
#middel-02{
    margin-top:20px;
    text-align: justify;
 text-align: center;
 font-size: 15px;
 font-weight: 900;
}
#shop-summur-collection{
    margin-left: 190px;
    margin-top: 20px;
    border: 2px solid black;
    padding: 15px 30px;
    background:none;
    font-weight: 800;
     transition: .5s;
    
}

#shop-summur-collection:hover{
    color: #fff;
     background-image: linear-gradient(rgba(255, 192, 203, 0.795),hotpink );
}

#orange-color{
    color:rgb(218, 25, 25) ;
}
#section-flx{
    display: flex;
    margin: 30px;
}
#div-001{
    text-align: justify;
    margin-top: 40px;
    padding: 40px;
}
#image001 img{
    width: 470px;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}
#flix-section{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}
#head-001{
    text-align: center;
}
#section-002{
    display: flex;
     
}
#image-002 img{
    width: 250px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right:50px ;
    margin-bottom: 0px;
}
#image-p-002{
    margin-top: 5px;
}
#div-002{
    margin-left: 50px;
}
#ancor-002{
    display: block;
    text-decoration: none;
    margin: 10px 1px ;
    padding: 1px 2px;
    color:black;
    transition: .8s;
}
#ancor-002:hover{
    color: cadetblue;
}